html{
  height: 100%;
}

body {
  font-family: Verdana, Arial, sans-serif;
  text-align: left;
  background-color: #646a72;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  padding: 10px;
  margin: 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 900;
}

#tabs ul li{
  display: inline-block;
}

#mainheader {
  height: 200px;
  text-align: left;
  padding-top: 15px;
  background: url(../images/golden-gate.jpg) center center no-repeat;
  background-size: cover;
  border: 3px black solid;
}

#mainheader h1, h2 {
  padding: 2px 10px 0px;
  text-transform: none;
}

main h2 {
  text-align: center;
  text-transform: uppercase;
}

#accordion {
  margin: 10px auto;
}

#accordion h2 {
  text-transform: none;
  text-align: left;
}

#accordion .ui-accordion-content > * {
  margin: 0;
  padding: 15px;

}

#accordion .ui-accordion-header {
  margin: 0px;
}

.arrest-sounds {
  background: #000000 url("../scripts/jquery-ui-themes-1.12.1/themes/dark-hive/images/ui-bg_loop_25_000000_21x21.png") 50% 50% repeat;
  color: #ffffff;
  float: left;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  width: 330px;
}

.arrest-sounds img {
  width: 318px;
  height: 238px;
}

#arrest-timeline {
  background: #000000 url("../scripts/jquery-ui-themes-1.12.1/themes/dark-hive/images/ui-bg_loop_25_000000_21x21.png") 50% 50% repeat;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
