html{
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: #75abff;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  padding: 10px;
}

#tabs ul li{
  display: inline-block;
}

#mainheader {
  height: 200px;
  text-align: left;
  padding-top: 15px;
  background: url(../images/golden-gate.jpg) center center no-repeat;
  background-size: cover;
  border: 3px darkslategray solid;
}

#mainheader h1, h2 {
  padding: 2px 10px 0px;
}

main h2 {
  text-align: center;
}

#accordion {
  margin: 10px auto;
}

#accordion .ui-accordion-content > * {
  margin: 0;
  padding: 15px;
}

#accordion .ui-accordion-header {
  margin: 0px;
}
